:root{

}

body{
    background-color: #0C0C0C;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: white; 
}

nav {
    margin: 0;
    background-color: #07070733;
    padding: 20px;
    box-shadow: 0 8px 8px #00000080 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: white;
}
.logo strong {
    font-size: 1.5em;
    display: block;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}
i{
    width: 20px;
    height: 20px;
    display: inline-block;
    color: white;
}

.nav{
    display: none;
    color: white;
}

aside{
    background-color: #DEC700;
    position: fixed;
    width: 20px;
    padding: 0 5px;
    right: 0px;
    top: 120px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

aside div{
    display: block;
    padding: 11px 0px;
}

main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.ananas{
    width: 20%;
    margin-top: 50px;
}

.fruit1{
    align-self: center;
    width: 25%;
}

.fruit2{
    font-size: 64px; 
    width: 300px; 
    margin: 0;
}

[grey]{
    color: gray;
}

.first-card-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #171719CC;
    gap: 30px;
}

.semi-card{
    display: flex;
    width: 47%;
    align-items: center;
    gap: 30px;
}

.buy{
    font-size: 12px;
    text-align: center;
    border: #DEC700 1px solid;
    border-radius: 2px;
    background-color: #DEC700;
    color: white;
}

.card-color{
    background-color: #18181A;
}

@media only screen and (max-width: 928px){
    .first-card-section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: #171719CC;
        gap: 30px;
    }

    .semi-card{
        display: flex;
        width: 100%;
        align-items: center;
        gap: 30px;
    }
}

@media only screen and (max-width: 600px){
    .nav-links {
        display: none;
    }
    .nav{
        display: inline-block;
        color: white;
        align-items: center;
    }
    nav i{
        font-size: 30px;
    }
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main img{
        display: none;
    }
    .ananas{
        text-align: center;
        width: 50%;
        margin-top: 10px;
    }

    .fruit1{
        align-self: center;
        width: 50%;
    }

    .fruit2{
        font-size: 64px; 
        width: 300px; 
        margin: 0;
    }

    .first-card-section{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0C0C0C;
        row-gap: 30px;
    }

    .semi-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #171719CC;
        gap: 30px;
    }

    .buy{
        width: 96px;
        height: 37px;
        border: #DEC700 1px solid;
        border-radius: 2px;
        background-color: #DEC700;
        color: white;
        margin-right: 0px;
    }
}